/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

.toast-warning,
.toast-success,
.toast-error {
    border-radius: 10px 0 10px 10px !important;
}

.toast-warning:hover,
.toast-success:hover,
.toast-error:hover {
    box-shadow: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2980B9;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0d2d44;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}